<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overall Progress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='analysis.css') }}">
    <header>
        <div class="logo">Club Management</div>
        <div class="navab">
            <nav>
                <div class="links">
                    <a href="{{ hurl }}">Home</a>
                    <a href="{{ aurl }}">analysis</a>
                    <a href="{{ lurl }}">Logout</a>
                </div>
            </nav>
        </div>
    </header>
</head>
<body>
    <div class="container">
        <div class="header-container">
            <div class="header">
                <h1>{{ cname }}</h1>
                <br>
                <h1>CLUB PROGRESS</h1>
            </div>
            <div class="blackbox">
                <div class="circle">
                    <div class="progress solved"></div>
                    <div class="progress attempting"></div>
                    <div class="progress hard"></div>
                    <div class="number">{{ club_progress["total_points"] }}</div>
                </div>
                <div class="label">
                    <i class="points"></i>Total Points
                </div>
                <div class="priority">
                    <button class="hard">HIGH PRIORITY<br>{{ club_progress["high_priority"] }} </button>
                    <button class="easy">LOW PRIORITY<br>{{ club_progress["low_priority"] }}</button>
                </div>
            </div>
        </div>
        <div class="topper-list">
            <h2>Top Performers</h2>
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Total Points</th>
                        <th>High Priority</th>
                        <th>Low Priority</th>
                    </tr>
                </thead>
                <tbody>
                    {% for performer in top_performers %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ performer['assigned_for'] }}</td>
                        <td>{{ performer['total_points'] }}</td>
                        <td>{{ performer['high_priority'] }}</td>
                        <td>{{ performer['low_priority'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>