<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Register</title>
    <header>
        <div class="logo">Club Management</div>
        <div class="navab">
        </div>
    </header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="context">
        <h1><i> 'Unlock the door to your club's future <br>– Login to continue or create your own adventure!</i></h1>
    </div><br>
    <div class="container">
        <div class="box login-box">
            <a href="#" onclick="loginPage()" id="loginLink" class="link">Login</a>
        </div>
        <div class="box register-box">
            <a href="#" onclick="registerPage()" id="registerLink" class="link">Register</a>
        </div>
    </div>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script>
        function loginPage() {
            var llink = document.getElementById('loginLink');
            llink.href = "{{ lu }}";
        }

        function registerPage() {
            var rlink = document.getElementById('registerLink');
            rlink.href = "{{ ru }}";
        }
    </script>
</body>
</html>
