<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles.css')}}">
</head>
<body>
    <div class="container">
            <div class="login-container">
                <h1>Club Login</h1>
                <form id="loginForm" method="post" action="{{ url_for('auth.login') }}">
                    <div class="form-group">
                        <label for="mem_name">Name</label>
                        <input type="text" id="mem_name" name="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="club_name">Club Name</label>
                        <input type="text" id="club_name" name="clubName" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">Login</button>
                </form>
                <p id="errorMessage" class="error-message"></p>
            </div>
    </div>
    <script src="script.js"></script>
</body>
</html>